@tailwind base;
@tailwind components;
@tailwind utilities;

.scale:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

@layer base {
  .desktop-nav-link {
    @apply font-semibold text-2xl text-slate-50 hover:text-red-600 decoration-clone scale;
  }

  .mobile-nav-link {
    @apply -mx-3 block rounded-lg py-2 px-3 text-4xl font-semibold leading-7 text-main-red;
  }

  .personInfoTitle {
    @apply text-slate-100 text-xl font-medium;
  }

  .personInfoText {
    @apply text-slate-100 text-base;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #11101a;
}

::-webkit-scrollbar-thumb {
  background: rgb(59, 87, 179);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(164, 7, 7);
}

.slide {
  flex: 1 0 100%;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.hide {
  display: none;
}

#item-card:hover #play-icon-container {
  display: block;
}

#item-card:hover .img {
  -webkit-filter: brightness(60%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
