@tailwind base;
@tailwind components;
@tailwind utilities;

.scale:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #11101a;
}

::-webkit-scrollbar-thumb {
  background: rgb(59, 87, 179);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(164, 7, 7);
}
